{% extends "base.html" %}
{% block title %}Меню{% endblock %}
{% block content %}
  <section id="menu">
    <h2>Меню</h2>

    <p>Оберіть категорію:</p>
    <div class="menu-button">
      <a href="{{ url_for('menu_category', category='hot') }}" class="btn">Гарячі страви</a>
      <a href="{{ url_for('menu_category', category='japanese') }}" class="btn">Японська кухня</a>
      <a href="{{ url_for('menu_category', category='salads') }}" class="btn">Салати</a>
      <a href="{{ url_for('menu_category', category='desserts') }}" class="btn">Десерти</a>
      <a href="{{ url_for('menu_category', category='drinks') }}" class="btn">Напої</a>
    </div>

    <h3 style="margin-top: 2em;">Популярні страви</h3>
    <div class="menu-item">
      {% for dish, price in popular_dishes %}
        <div class="dish">
          <p class="dish-name">{{ dish }}</p>
          <p class="dish-price">{{ price }} грн</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}