{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <section id="menu">
    <h2>{{ title }}</h2>

    <div class="menu-grid">
      {% for dish, price, image in dishes %}
        <div class="dish-card">
          <img src="{{ url_for('static', filename=image) }}" alt="{{ dish }}" class="dish-image">
          <div class="dish-info">
            <p class="dish-name">{{ dish }}</p>
            <p class="dish-price">{{ price }} грн</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="menu-button">
      <a href="{{ url_for('menu_category', category='hot') }}" class="btn">Гарячі страви</a>
      <a href="{{ url_for('menu_category', category='japanese') }}" class="btn">Японська кухня</a>
      <a href="{{ url_for('menu_category', category='salads') }}" class="btn">Салати</a>
      <a href="{{ url_for('menu_category', category='desserts') }}" class="btn">Десерти</a>
      <a href="{{ url_for('menu_category', category='drinks') }}" class="btn">Напої</a>
    </div>
  </section>
{% endblock %}